<!-- <div class="container">
    <h2>Your Orders</h2>
    <div *ngIf="orders.length > 0; else noOrders">
      <div class="order-card" *ngFor="let order of orders">
        <h3>Order ID: {{order.id}}</h3>
        <p>Date: {{order.date | date}}</p>
        <p>Total: \${{order.total}}</p>
        <button (click)="viewOrderDetails(order.id)" class="btn btn-info">View Details</button>
      </div>
    </div>
    <ng-template #noOrders>
      <p>You have no orders yet.</p>
    </ng-template>
  </div>
   -->